DXApplication12/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:92/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" />
  <xs:import schemaLocation="http://127.0.0.1:92/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:92/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServicioWebRH" />
  <xs:element name="Trabajadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="TrabajadoresResult" nillable="true" type="q1:ArrayOfPersonal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrabajadorxNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrabajadorxNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="BuscarTrabajadorxNombreResult" nillable="true" type="q2:ArrayOfPersonal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoAgrupaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoAgrupacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="ListadoAgrupacionesResult" nillable="true" type="q3:ArrayOfAgrupaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameAgrupacionxId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameAgrupacionxIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DameAgrupacionxIdResult" nillable="true" type="q4:Agrupaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameAgrupacionxNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameAgrupacionxNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DameAgrupacionxNombreResult" nillable="true" type="q5:Agrupaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DamePersonaxExpResult" nillable="true" type="q6:PersonalRH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxCi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxCiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DamePersonaxCiResult" nillable="true" type="q7:PersonalRH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameNombreDepartamentoPersonaxExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameNombreDepartamentoPersonaxExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DameNombreDepartamentoPersonaxExpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrazasEnRangoxListadoExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fin" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="expedientes" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrazasEnRangoxListadoExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="TrazasEnRangoxListadoExpResult" nillable="true" type="q9:ArrayOfRegistroESpejo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameCatOcupacionalxExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameCatOcupacionalxExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DameCatOcupacionalxExpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameCatOcupacionalxExpBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameCatOcupacionalxExpBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DameCatOcupacionalxExpBajaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxExpDeep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxExpDeepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DamePersonaxExpDeepResult" nillable="true" type="q10:PersonalRH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxCiDeep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePersonaxCiDeepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="DamePersonaxCiDeepResult" nillable="true" type="q11:PersonalRH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cumples">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="final" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CumplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="CumplesResult" nillable="true" type="q12:ArrayOfPersonal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CuantiaRetornar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CuantiaRetornarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CuantiaRetornarResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AñosTrabajados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AñosTrabajadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AñosTrabajadosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalarioBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalarioBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalarioBaseResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cod_Municip" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Prov" type="xs:int" />
        <xs:element minOccurs="0" name="Cod_Pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MunicipioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exp" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicioWebRH.Datos" minOccurs="0" name="RegistrosResult" nillable="true" type="q13:ArrayOfRegistroESpejo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltasxAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltasxAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicioWebRH" minOccurs="0" name="AltasxAñoResult" nillable="true" type="q14:ArrayOfAltasBajas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajasxAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajasxAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicioWebRH" minOccurs="0" name="BajasxAñoResult" nillable="true" type="q15:ArrayOfBajas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Categorizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategorizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioWebRH" minOccurs="0" name="CategorizacionResult" nillable="true" type="q16:ArrayOfCategorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>